body {
    font-family: Arial, Helvetica, sans-serif, AvenirNext;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #000000;
}

.container {
    position: relative;
}
.of-header {
	box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
}
.of-header .container {
    height: 67px;
}

.of-logo {
    position: absolute;
    top: 10px;
    left: 15px;
}

.of-iconmntop {
    display: none;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #b7b7b7;
    font-size: 25px;
    cursor: pointer;
}

.of-menutop {
    position: absolute;
    top: 0;
    right: 201px;
}

.of-menutop li {
    float: left;
}

.of-menutop li a {
    display: block;
    height: 67px;
    padding: 10px 13px 0;
    font-size: 12px;
    color: #211f1f;
    text-align: center;
}

.of-menutop li a i {
    display: block;
    margin: 0 auto;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
}

.of-menutop li a span {
    display: block;
    padding: 3px 0;
}

.of-menutop li a:hover {
    background-color: #f3f3f3;
}

.of-imobile {
    width: 15px;
    background-position: -3px 0;
}

.of-menutop li.active a .of-imobile,
.of-menutop li a:hover .of-imobile {
    background-position: -3px -32px;
}

.of-itablet {
    width: 31px;
    background-position: -20px 0;
}

.of-menutop li.active a .of-itablet,
.of-menutop li a:hover .of-itablet {
    background-position: -20px -32px;
}

.of-iapple {
    width: 21px;
    background-position: -53px 0;
}

.of-menutop li.active a .of-iapple,
.of-menutop li a:hover .of-iapple {
    background-position: -53px -32px;
}

.of-ilaptop {
    width: 39px;
    background-position: -76px 0;
}

.of-menutop li.active a .of-ilaptop,
.of-menutop li a:hover .of-ilaptop {
    background-position: -76px -32px;
}

.of-iswatch {
    width: 19px;
    background-position: -334px 0;
}

.of-menutop li.active a .of-iswatch,
.of-menutop li a:hover .of-iswatch {
    background-position: -334px -32px;
}

.of-ipkien {
    width: 29px;
    background-position: -117px 0;
}

.of-menutop li.active a .of-ipkien,
.of-menutop li a:hover .of-ipkien {
    background-position: -117px -32px;
}

.of-imdt {
    width: 17px;
    background-position: -359px 0;
}

.of-menutop li.active a .of-imdt,
.of-menutop li a:hover .of-imdt {
    background-position: -359px -32px;
}

.of-ixahang {
    width: 35px;
    background-position: -180px 0;
}

.of-menutop li.active a .of-ixahang,
.of-menutop li a:hover .of-ixahang {
    background-position: -180px -32px;
}

.of-itragop {
    width: 24px;
    background-position: -217px 0;
}

.of-menutop li.active a .of-itragop,
.of-menutop li a:hover .of-itragop {
    background-position: -217px -32px;
}

.of-ikmai {
    width: 32px;
    background-position: -243px 0;
}

.of-menutop li.active a .of-ikmai,
.of-menutop li a:hover .of-ikmai {
    background-position: -243px -32px;
}

.of-itinhay {
    width: 28px;
    background-position: -277px 0;
}

.of-menutop li.active a .of-itinhay,
.of-menutop li a:hover .of-itinhay {
    background-position: -277px -32px;
}

.of-search {
    position: absolute;
    top: 0;
    right: 120px;
    height: 67px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 0;
    font-size: 12px;
    color: #211f1f;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.of-search span {
    display: block;
    padding: 3px 0;
}

.of-isearch {
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
    background-position: -306px 0;
}

.of-search:hover {
    background-color: #f3f3f3;
}

.of-search:hover .of-isearch {
    background-position: -306px -32px;
}

.of-call {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}

.of-call span {
    font-size: 12px;
    color: #211f1f;
}

.of-call p {
    font-size: 16px;
    font-weight: bold;
    color: #c91010;
}

.of-searchbox {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.of-slogo {
    margin-top: 10px;
    width: 150px;
    position: absolute;
    left: 15px;
    top: 5px;
}

.of-searchbar {
    height: 67px;
    background-color: #000000;
}

.of-ipsearch {
    padding-right: 80px;
    margin-top: 15px;
    margin-left: 200px;
}

.of-closesearch {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}

.of-closepop {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
}

.of-footer {
    padding: 30px 0;
    text-align: center;
    background-color: #efefef;
    color: #000000;
}

.of-footer-link {
    margin-bottom: 10px;
    font-weight: bold;
}

.of-footer-link a {
    font-weight: bold;
    padding: 0 5px;
    color: #000000;
}

/*MEDIA*/
@media (min-width: 1260px) {
    .container {
        width: 1230px;
    }
}

@media (max-width: 1200px) {
    .of-logo {
        top: 16px;
        width: 120px;
    }

    .of-menutop {
        right: 182px;
    }

    .of-menutop li a {
        padding: 10px 9px 0;
    }

    .of-search {
        padding: 10px 5px 0;
    }
}

@media (max-width: 992px) {
    .of-header .container {
        height: 60px;
    }

    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }

    .of-menutop {
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }

    .of-menutop li {
        width: 20%;
    }

    .of-mnshow {
        display: block !important;
    }

    .of-call {
        top: 10px;
    }

    .of-search {
        top: 7px;
        border: none;
        height: auto;
    }

    .of-search:after {
        content: " ";
        height: 30px;
        width: 1px;
        background: #cecece;
        position: absolute;
        right: -5px;
        top: 10px;
        z-index: 9;
    }

    .of-search:hover {
        background: none;
    }

    .of-search span {
        display: none;
    }

    .of-iconmntop {
        display: block;
    }
}

@media (max-width: 768px) {
    .of-ipsearch {
        padding-right: 40px;
        margin-left: 170px;
    }
}

@media (max-width: 480px) {
    .of-slogo {
        display: none;
    }

    .of-ipsearch {
        margin-left: 0;
    }

    .of-probox-img,
    .of-probox-info {
        width: 100%;
        float: none;
        padding: 15px;
    }

    .of-probox-btn li a {
        width: 100px;
    }

    .of-probox-tso ul li span {
        width: auto;
        font-weight: bold;
    }

    .of-menutop li {
        width: 25%;
    }
}

@media (max-width: 350px) {
    .of-logo {
        top: 17px;
        width: 100px;
    }

    .of-menutop li {
        width: 33.33%;
    }
}

/*autocomplete search main*/
.asmr {
    width: 100%;
    position: absolute;
    top: 34px;
    z-index: 10;
}

.asmr ul {
    background: #FFF;
    margin: 0 119px 0 0;
}

.asmr li.active,
.asmr li:hover {
    background: #ececec;
}

.asmr a {
    display: block;
    overflow: hidden;
    padding: 5px;
}

.asmr a img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
}

.asmr a span {
    display: block;
    font-weight: bold;
}

.asmr a label {
    display: block;
    margin: 10px 0 0 0;
    color: #F00;
}

.resultAutoComplete-home {
    padding: 0;
    margin-right: 80px;
    z-index: 100;
    font-size: 13px;
}

.resultAutoComplete-home ul li:hover {
    background: #eaeaea;
}

.fshop-search-cate {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}

.fshop-search-cate li {
    padding: 5px;
    cursor: pointer;
}

.fshop-search-cate a {
    font-size: 13px;
    color: #d41212;
    padding: 3px 5px;
    display: block;
    text-transform: uppercase;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.fshop-search-cate a:before {
    content: "⟶";
}

.fshop-search-cate a:hover {
    padding-left: 15px;
}

.fshop-search-catehd {
    height: 30px;
    line-height: 20px;
    background-color: #efefef;
    text-overflow: clip;
    overflow: hidden;
}

.fshop-search-catehd strong {
    font-weight: bold;
    color: #d41212;
}

.fshop-search-prod {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}

.fshop-search-prod li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
}

.fshop-search-prod li a {
    font-size: 13px;
    display: block;
}

.fshop-search-prod li:hover .fshop-search-prodimg {
    background: #FFFFFF;
}

.fshop-search-prod li:hover .fshop-search-prodinfo {
    padding-left: 15px;
}

.fshop-search-prodimg {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
}

.fshop-search-prodimg img {
    width: 40px;
    height: 40px;
}

.fshop-search-prodinfo {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    padding: 0 10px;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.fshop-search-prodprice {
    color: #d41212;
    font-weight: bold;
}

.fshop-search-prodname {
    max-height: 30px;
    text-overflow: clip;
    overflow: hidden;
}

@media (max-width: 768px) {
    .asmr ul {
        margin: 0 79px 0 0;
    }
}

/*END FOMAT*/

/* SS1 */
.ss1-vivo
{
    background: url('../images/bg-ss1.png') no-repeat;
    background-size: cover;
    padding:39px 0 0 0;
}
.ss-left-img 
{
    text-align: center;
}
.ss1-right-img
{
    text-align: center;
    margin-bottom: 18px;

}
.btn
{
    font-family: UTMAvo;
    font-size: 18px;
    font-weight: bold;
    background: #e20707;
    color: #fff;
    text-transform: uppercase;
    padding:12px 33px;
    border-radius: 15px;
}
.ss1-right
{
    text-align: center;
}
.ss-dkntt
{
    margin:0 auto;
}
.ss1-right:hover .ss-dkntt
{
    color: #fff;
}
.ss1-text
{
    font-size: 16px;
    color: #28272a;
    width: 391px;
    height: 38px;
    padding:11px 0 45px;
    margin:0 auto;
}
.nav-menu
{
    background-color: #1671f8;
    height: 55px;
}
.nav-logo
{
    line-height: 50px;
}
.nav-info
{
    float: right;
    margin-right: 130px;
}
.nav-btn
{
    font-family: Arial;
    border: solid 1px #51b847;
    background-image: linear-gradient(to top, #4eab45, #71bf6a);
    font-size: 15px;
    padding: 5px 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
}
.nav-info li
{
    display: inline-block;
    padding: 13px;
    line-height: 30px;
    text-transform: uppercase;
}
.nav-info li a
{
    color: #fff;
    font-weight: 600;
}
.nav-info li ~ li:before {
    content: '|';
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    top: -4px;
    padding-right: 34px;
}
.btn-call
{
    margin: 12px 53px 0 -84px;
}
.ss2-vivo
{
    background: url('../images/ss2-bg.png') no-repeat;
    background-size: cover;
    padding:52px 0 42px;
}
.ss2-vivo h1
{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.ss2-text
{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 27px 0 34px;
    max-width: 83%;
}
.ss2-img
{
    text-align: center;
}
.ss-time
{
    padding:62px 0;
    background-color: #efefef;
    text-align: center;
    color: #000;
}
.ss-info
{
    font-size: 68px;
    font-weight: 600;
}
.ss-info span
{
    font-size: 12px;
    font-weight: 600;
}
.ss-tt strong
{
    width: 1px;
    position: absolute;
    height: 55px;
    background-color: #000;
    right: -44px;
    top: 13%;
}
.ss-time-text
{
    margin:-15px 0 0 0;
}
.ss-cbien
{
    padding:64px 0 40px;
    text-align: center;
    color: #070707;
}
h2
{
    font-family: AvenirNext;
    font-size: 36px;
    font-weight: 600;
}
.ss-cbien-text
{
    font-family: 'av-rg';
    font-size: 24px;
    margin: 0 auto;
    max-width: 78%;
}
.ss3
{
    background-color: #000;
    background-size: cover;
    height: 542px;
}
.ss4
{
    padding:182px 0 66px;
    text-align: center;
}
.ss4 h2
{
    text-transform: uppercase;
}
.ss4-img
{
    padding:55px 0 0 0;
}
.ss5-info
{
    background:url('../images/ss5-bg.png') no-repeat;
    background-size: cover;
   padding: 50px 72px;
}
.ss5-text
{
    padding:145px 0 153px;
}
.ss5-text h3
{
    font-size: 36px;
    color:#fff;
    font-weight: 600;
    margin-bottom: 37px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.ss5-text1
{
    max-width: 89%;
    text-align: justify;
    font-size: 24px;
    color: #fff;
}
.ss5-right
{
    text-align: center
}
.ss6-info
{
    padding:59px 0 69px;
}
.ss6-left
{
    text-align: center; 
}
.ss6-img
{
    margin-bottom: 55px;
}
.ss6-rad li
    {
        left: 16px;
        margin-right: 36px;
        font-size: 19px;
    }
.ss-rad{
    display: none;
}
.ss6-dh .den:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -13%;
    top: 21%;
    border-radius: 20px;
    border: solid 2px rgba(0, 163, 231, 0.47);
    width: 15px;
    height: 16px;
    background: url('images/icon-input.png') no-repeat;
}
.ss6-dh .xanh:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 21%;
    border-radius: 20px;
    border: solid 2px rgba(0, 163, 231, 0.47);
    width: 15px;
    height: 16px;
    background: url('../images/icon-input.png') no-repeat;
}
.ss6-rad  .ss-rad:hover,.ss6-rad  .ss-rad:active, .ss6-rad  .ss-rad:focus
{
    border: 1px solid #000;
}
.ss6-rad
{
    display: inline-flex;
    bottom: 99px;
    position: absolute;

}
.ss6-choose strong
{
    font-size: 19px;
    margin-right: 28%;
}
.ss6-rad li:first-child {
    margin-right: 25px;
}
.ss6-dh
{
    display: inline-block;
}
.ss6-choose:active, .ss6-choose:focus span
{
    cursor: pointer;
}
.ss6-left .choose
{
    display: none;
}
.ss6-price
{
   margin:11px 0 ;
}
.ss6-price strong
{
    font-size: 19px;
    margin-right: 65px;
}
.ss6-price span
{
    color: #b40b48;
    font-size: 19px;
    font-weight: 600;
    margin-left: -25px;
}
.ss6-ntt
{
    background: #fff;
    color: #0053a1;
    border-radius: 15px;
    border: solid 1px #0053a1;
}
.ss6-info:hover .ss6-ntt
{
    color: #0053a1;
}
.ss6-right .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr
{
    border-top: aliceblue;
}
.table
{
    margin-bottom: 28px;
}
.table-active
{
    background-color: #f5f5f5;
}
.ss6-right h1
{
    font-size: 22.5px;
    color: #020202;
    font-weight: bold;
    margin-bottom: 18px;
}
.ss6-right
{
    max-width: 95%;
}
.ss6-bot
{
    padding: 10px 11px 9px -51px;
    width: 195px;
    height: 35px;
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    border: solid 1px #a5a5a5;
    background-color: #ffffff;
    border: 1px solid #000;
    line-height: 34px;
    color: #282828;
    border-radius: 5px;
}
.ss7-tle
{
    padding-bottom: 56px;
}
.ss7-left h1
{
    font-family: Arial;
    font-size: 24px;
    color: #292929;
    margin-bottom: 21px;
}
.ss7-text
{
    
    height: 380px;
    overflow: auto;
    padding: 15px;
    border:1px solid #dedede;
}
.ss7-right span
{
    color: #00a3e7;
}
.ss7-right h1
{
    font-family: Arial;
    font-size: 24px;
    color: #292929;
}
table
{
    color: #909090;
    margin-top: 20px;
}
.table thead
{
    background: #00a3e7;
    color: #fff;
}
.ss7-right table tbody tr td:nth-child(2) {
   color: #00a3e7;
   font-weight: 600;
}
.ss7-right table tbody tr td:nth-child(4) 
{
    color: #64ae4a;
}
.ss7-xemt
{
    text-align: center;
    margin-top: 22px;
}
.xemt
{
    border: 1px solid #dedede;
    padding: 12px 40px;
    border-radius: 5px;
}
.ss8-slide
{
    padding: 56px 0 30px;
}
.ss8-slide h1
{
    text-align: center;
    font-family: Arial;
    font-size: 24px;
}
.slider
{
    padding:37px 23px;
}
.swiper-wrapper {
    padding-bottom: 45px;
}
@media (max-width:1200px)
{
    .ss6-choose strong
    {
        margin-right: 146px;
    }
    .nav-info
    {
        margin-right: 94px;
        font-size: 12px;
    }
    .ss-info
    {
        font-size: 52px;
    }
    .ss5-text h3
    {
        max-width: 80%;
        text-align: center;
        white-space: unset;
    }
    .ss1-text
    {
        padding: 11px 0 50px;
    }
}
@media (max-width:992px)
{
    .ss1-vivo
    {
        background: url('../images/bg1-mb.png') no-repeat;
        background-size: cover;
        padding:21px 0 32px;
    }
    .ss2-vivo
    {
        background:url('../images/bg2-mb.png')no-repeat;
        background-size: cover;
        padding:94px 0 91px;
    }
    .ss5-info
    {
        background: url('../images/ss5-bg-mb.png') no-repeat;
        background-size: cover;
        padding:49px 0 60px;
    }
    .ss-left-img,.ss1-right-img,.ss2-img,.ss-cb-img,.ss4-img,.ss5-right,.ss6-img,.table,.ss6-bot,.ss7-tle,.ss8-slide
    {
        display: none;
    }
    .ss-left-mb,.ss2-mb-img,.ss6-mb
    {
        text-align: center;
    }
    .nav-info
    {
        display: none;
    }
    .ss2-vivo h1
    {
        font-size: 30px;
    }
    .col-md-2.col-md-offset-2,.col-md-2.col-md-offset-1 {
        width: 22%;
        float: left;
    }
    .ss-tt {
        margin-left: 21%;
    }
    .ss-tt strong {
        width: 1px;
        position: absolute;
        height: 33px;
        background-color: #000;
        right: 2px;
        top: 13%;
    }
    .ss-time-text
    {
        font-size: 12px;
        margin: -6px;
    }
    .ss-info
    {
        font-size: 34px;
    }
    .ss-time {
        padding: 34px 0 31px;
    }
    h2
    {
        font-size: 30px;
    }
    .ss3
    {
        height: 205px;
    }
    .ss4 {
        padding: 97px 0 47px;
    }
    .ss4-mb
    {
        padding: 55px 0 0 0;
    }
    .btn-call
    {
        margin: 12px 0px;
    }
    .ss5-text h3
    {
        max-width: 100%;
        font-size: 30px;
    }
    .ss5-text
    {
        padding:unset;
        text-align: -webkit-center;
    }
    .ss6-info
    {
        padding: 37px 0 53px;
    }
    .ss6-mb {
        margin-bottom: 62px;
    }
    .ss6-right h1
    {
        text-align: center;
        margin-top: 53px;
    }
    .ss5-mb {
        text-align: center;
        margin-top: 13px;
    }
}
@media (min-width:992px)
{
    .ss-left-mb,.ss1-right-mb,.ss2-mb-img,.ss-cb-mb,.ss4-mb,.ss5-mb,.ss6-mb
    {
        display: none;
    }
}
@media (max-width:768px)
{
    .nav
    {
        margin: 0 12px;
    }
    .ss-cb-mb {
        margin: 0 9px;
    }
    .ss-info {
        font-size: 30px;
    }
    .ss-tt {
        margin-left: 0%;
    }
    .col-md-2.col-md-offset-2, .col-md-2.col-md-offset-1 {
        width: 33%;
    }
}
@media (max-width:380px)
{
    .ss5-text h3 {
        max-width: 90%;
    }
    .ss-cbien h2
    {
        max-width: 91%;
        margin: 0 auto;
    }
    .ss-dkntt.btn {
        margin: 12px -9px;
    }
    .ss1-text {
            max-width: fit-content;
    }
    .ss6-ntt.btn {
        margin: 12px -9px;
    }
    .ss6-rad {
        bottom: 125px;
    }
    .ss-info {
        font-size: 24px;
    }
}
@media (max-width:330px)
{
    .ss1-text {
    margin-left: -16px;}
    .ss2-mb-img
    {
        padding:0 9px;
    }
    .ss4-mb {
        padding: 55px 9px;
    }
    .ss-dkntt.btn {
        padding: 11px 29px;
    }
    .ss6-ntt.btn {
        padding: 11px 29px;
    }
    .ss-info {
        font-size: 21px;
    }
}
